<div class="tab-content">
											<div class="tab-pane active" id="centered-pill1">
												<div class="dash-elems-wrapper">
													<!--row section-->
													<div class="row ">
														<!--8 start-->
														<div class="col-lg-8">
																<div class="product-source-wrap">
																	<div class="row form-group">
																		<div class="col-lg-6">
																			<div class="product">
																				<div class="product-header">
																				<div class="title">
																					<h6>Applications by Product<span></span></h6>

																				</div>
																					
																				</div>
																				<div class="product-body">
																					<!-- <img src="assets/images/product-graph.jpg" class="img-responsive"> -->
																					 <!-- <div id="chart_div2"></div> -->
																					  <div id="donut_single3" style="width: 320px; height: 280px;"></div>
																				</div>
																			</div>
																		</div>
																		<div class="col-lg-6">
																			<div class="product">
																				<div class="product-header">
																				<div class="title">
																					<h6>Applications by Source<span></span></h6>
																				</div>
																					
																				</div>
																				<div class="product-body">
																					<!-- <img src="assets/images/source-graph.jpg" class="img-responsive"> -->
																					  <div id="donut_single4" style="width: 320px; height: 280px;"></div>
																				</div>
																			</div>
																		</div>
																	</div>
																</div>
																<div class="weekly-graph-wrap">
																	<div class="row">
																		<div class="col-lg-12">
																			<div class="weekly-header">
																				<div class="title">
																					<h6>Applications By</h6>
																				</div>
																				<div class="filter-btns-wrap">
																					<div class="filter-btns">
																						<button type="button" class="btn border-slate   legitRipple" name="chart_div2">Day</button>
																						<button type="button" class="btn border-slate active  legitRipple"  name="chart_div">Week</button>
																						<button type="button" class="btn border-slate   legitRipple"  name="chart_div3">Month</button>
																					</div>
																					
																				</div>

																				<div class="clearfix"></div>
																			</div>
																			<div class="loan-req">
																				<p>Loan applications requests <span id="cur-month"> (August)</span></p>
																			</div>
																			<div class="weekly-graph">
																				 <div id="chart_div" class="bar-charts"></div>
																				 <div id="chart_div2" class="bar-charts"></div>
																				 <div id="chart_div3" class="bar-charts"></div>
																			</div>
																			
																		</div>
																	</div>
																</div>
														</div>
														<!--8th end-->

														<!-- 4 starts-->
														<div class="col-lg-4">
															<div class="member-asset-wrap">
																<div class="panel panel-default">
																  <div class="panel-heading">Existing / New<span></span></div>
																  <div class="panel-body">
																   
																    <div class="img-block">
																    	
																    	 <div id="donut_single" style="width: 320px; height: 270px;"></div>
																    </div>
																  </div>
																</div>
																<div class="panel panel-default">
																  <div class="panel-heading">Reminder mail Sent<span></span></div>
																  <div class="panel-body">
																    <div class="img-block">
																    	
																    	 <div id="donut_single2" style="width: 320px; height: 270px;"></div>
																    </div>
																  </div>
																</div>
																
															</div>
															
														</div>
														<!--4 ends-->
													</div>
													
													<!--row section ends-->
													<div class="row">
														<div class="clearfix"></div>
															<div class="col-lg-4">
															<div class="member-asset-wrap">
																<div class="panel panel-default">
																  <div class="panel-heading">Currently Pending<span></span></div>
																	<select (change)="onChange($event)" class="form-control" (ngModel)="product_type" name="product_type">
																	<option value="null" selected>Select Product Type</option>
																	  <option value="Everyday Account" selected>Everyday Account</option>
																	  <option value="Home Loan">Home Loan</option>
																	  <option value="Personal Loan">Personal Loan</option>
																  </select>
																  
																  <div class="panel-body">
																    <div class="img-block">
																    	
																    	 <div id="donut_single6" style="width: 320px; height: 270px;"></div>
																    </div>
																  </div>
																</div>
																
															</div>
														</div>
													</div>
												</div>

											</div>

											

											

											
										</div>