<div class="tab-content" *ngIf="TotalApplications">
	<div class="tab-pane active" id="centered-pill1">
		<div class="dash-elems-wrapper">
			<div class="row ">
				<div class="col-lg-8">
					<div class="product-source-wrap">
						<div class="row form-group">
							<div class="col-lg-6">
								<div class="product">
									<div class="product-header">
										<div class="title">
											<h6>Applications by Product<span></span></h6>
										</div>
									</div>
									<div class="product-body" *ngIf="chart_proFlag==true">
										<canvas baseChart [data]="barChartData" [labels]="barChartLabels"  [colors]="chartColors" [chartType]="barChartType"></canvas>
									</div>
								</div>
							</div>
							<div class="col-lg-6">
								<div class="product">
									<div class="product-header">
										<div class="title">
											<h6>Applications by Source<span></span></h6>
										</div>

									</div>
									<div class="product-body" *ngIf="chart_sourFlag==true">
										<canvas baseChart [data]="sourChartData" [labels]="sourChartLabels" [colors]="chartColors" [chartType]="barChartType"></canvas>
</div>
</div>
</div>
</div>
</div>
<div class="weekly-graph-wrap">
	<div class="row">
		<div class="col-lg-12">
			<div class="weekly-header">
				<div class="title">
					<h6>Applications By</h6>
				</div>
				<div class="filter-btns-wrap">
					<div class="filter-btns">
						<button type="button" class="btn border-slate   legitRipple" name="chart_div2">Day</button>
						<button type="button" class="btn border-slate active  legitRipple" name="chart_div">Week</button>
						<button type="button" class="btn border-slate   legitRipple" name="chart_div3">Month</button>
					</div>

				</div>

				<div class="clearfix"></div>
			</div>
			<div class="loan-req">
				<p>Loan applications requests <span id="cur-month"> (August)</span></p>
			</div>
			<div class="weekly-graph">
				<div id="chart_div" class="bar-charts"></div>
				<div id="chart_div2" class="bar-charts"></div>
				<div id="chart_div3" class="bar-charts"></div>
			</div>

		</div>
	</div>
</div>
</div>
<div class="col-lg-4">
	<div class="member-asset-wrap">
		<div class="panel panel-default">
			<div class="panel-heading">Existing / New<span></span></div>
			<div class="panel-body">

				<div class="img-block" *ngIf="chart_custFlag == true">

						<canvas baseChart [data]="custChartData" [labels]="custChartLabels" [colors]="chartColors" [chartType]="barChartType"></canvas>
</div>
</div>
</div>
<div class="panel panel-default" style="margin-top:30px;">
	<div class="panel-heading">Reminder mail Sent<span></span></div>
	<div class="panel-body">
		<div class="img-block" *ngIf="chart_remindFlag == true">

			<canvas baseChart [data]="remindChartData" [labels]="remindChartLabels" [colors]="chartColors" [chartType]="barChartType"></canvas>
</div>
</div>
</div>

</div>

</div>
</div>
</div>

</div>






</div>	
<div id="no-data">
	*No data found
</div>