<form class="form-horizontal" (ngSubmit)="changePassword(myForm.value)" [formGroup]="myForm">
	<div class="modal-body">
		<div class="col-md-3"></div>
		<div class="col-md-6">
		<div class="panel panel-default">
			 <div class="panel-heading" style='background:#003479;color:white;font-weight: 100;font-size: 22px;text-align:center'>Change password</div>
			<div class="panel-body" >
				<div *ngIf="changeStatus=='Password changed'" class="row">

					<div class="alert alert-success"> <strong>Success!</strong> Password successfully changed.</div>

				</div>
				<!--<p style='color:#003479'><b>Please enter the old password to reset the password.</b></p>
				<br>-->
				<div class="form-group has-feedback">
					<div class=" material-form">
						<input type="password" class="form-control" [(ngModel)]="user.password" formControlName="password" required="required">
						<label for="input" class="control-label">Password</label><i class="bar"></i>
					</div>
				</div>

				<div class="form-group has-feedback">
					<div class=" material-form">
						<input type="password" class="form-control" [(ngModel)]="user.newpassword" formControlName="newpassword" required="required">
						<label for="input" class="control-label">New password</label><i class="bar"></i>
						<div class="text-danger" *ngIf="user.newpassword!='' && user.cp!=undefined  && user.password  ==user.newpassword">
							Old and New Password Cannot be same.
						</div>

					</div>
				</div>

				<div class="form-group has-feedback">
					<div class=" material-form">
						<input type="password" class="form-control" [(ngModel)]="user.cp" formControlName="cp" required="required">
						<label for="input" class="control-label">Confirm password</label><i class="bar"></i>
						<div class="text-danger" *ngIf="user.cp!='' && user.cp!=undefined  && user.newpassword  !=user.cp">
							Password Doesn't Match!
						</div>
					</div>
				</div>

				<div class="col-md-6">
					<button type="button" class="btn bg-submit btn-block" id="modalClose" data-dismiss="modal">Close</button>
				</div>
				<div class="col-md-6">
					<button [disabled]="((user.cp!=''&& user.cp!=undefined && user.newpassword  !=user.cp))||((user.newpassword!='' && user.password==user.newpassword))"
						type="submit" class="btn bg-submit btn-block">Reset</button>
				</div>

			</div>
		</div>
		</div>

	</div>


</form>