<section class="login-banner background-banner" >

	<div class="login-content">
		<!--<div class="login-wrapper">
			<!--{{u_name }}-->

			<div id="error" class="invalid-error">
				<div class="alert alert-warning">  Please press the valid key combination</div>
			</div>

			<div class="panel logintype-page logintype">
					<h6 class="logintype-h6">Select the Application </h6>
					
					<div class="container" style="padding-left:15%;">
						<!--<div style="width: 60%;
    					    margin: auto;
   						 padding: 10px;
   						background-color: rgba(20,29,37,0.5);">-->
					    <div class="row">
					        <div class="col-md-3 list-group-items changecursor" style="background:#1bbc9b;margin:0px 1px;" (click)="redirectTo('1')">
					        <img src="/assets/images/Services.png" alt="icon" class="arrange-image">
					          <div class="panel-heading panel-adjust arrange-head"  >EmPower Services </div>
					          <div class="panel-subheading" style="background:none;">Press key 'Alt + S' to redirect to Services</div>
					        </div>
					        <div class="col-md-3 list-group-items changecursor" style="background:#eb974e;margin:0px 1px;" (click)="redirectTo('2')">
					        	<img src="/assets/images/ProductManager.png" alt="icon" class="arrange-image">
					          <div class="panel-heading panel-adjust arrange-head" > EmPower Products</div>
					          <div class="panel-subheading" style="background:none;">Press key 'Alt + P' to redirect to Products</div>
					        </div>
					        <div class="col-md-3 list-group-items changecursor" style="background:#385996;margin:0px 1px;"  (click)="redirectTo('3')">
					        	<img src="/assets/images/Sys_Admin_new.png" alt="icon" class="arrange-image">
					            <div class="panel-heading panel-adjust arrange-head">EmPower Admin</div>
					            <div class="panel-subheading" style="background:none;">Press key 'Alt + I' to redirect to IT-Admins</div>
					        </div>

					    </div>
					</div>
				<!--</div>-->
				
					
					
					<!--<div class="panel-subheading">Press key 'Alt + S' to redirect to Services</div>
					<br/>
					
					<div class="panel-subheading">Press key 'Alt + P' to redirect to Products</div>
					<br/>
					<div class="panel-heading panel-adjust changecursor" (click)="redirectTo('3')">IT-Admins</div>
					<div class="panel-subheading">Press key 'Alt + I' to redirect to IT-Admins</div>-->
				

							<!--<div class="panel-subheading">( Online Applications )</div>
							<div class="panel-body">
                                  <form [formGroup]="myForm" (ngSubmit)="onSubmit()">
								<div class="form-group has-feedback">
			                     	<div class=" material-form">
								      <input type="text"  formControlName="username" required="required"/>
								      <label for="input" class="control-label">Username</label><i class="bar"></i>
								    </div>
								  </div>
								  <div class="form-group has-feedback">
			                     	<div class=" material-form">
			                     		<!--<input type="password" [ngModel]="pass" (blur)="onKey()"  formControlName="password"   required="required"/>-->
									<!--  <input type="password" [ngModel]="pass" formControlName="password"   required="required"/>
								      <label for="input" class="control-label">Password</label><i class="bar"></i>
								    </div>
								  </div>

							<div class="form-group">
                          
								<input type="submit" class="btn bg-submit btn-block" value="LOGIN">
							</div>

							<div class="forget-pass">
								<a href="#">Forgot password?</a>
							</div>
						</form>

					</div>-->

				</div>
				<div class="clearfix"></div>
			</div>
		<!--</div>-->
	</section>
	